apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config-map
data:
  RESOURCE_POSTGRES_DB_NAME: "mp3resource"
  SONG_POSTGRES_DB_NAME: "songs"
  STORAGE_POSTGRES_DB_NAME: "storages"
  init-resource-db-schema: 'CREATE TABLE public.sound_record ( id SERIAL NOT NULL, file_name varchar(255) NULL, storage_type int2 NULL, bucket varchar(255) NULL, "path" varchar(255) NULL, CONSTRAINT sound_record_pkey PRIMARY KEY (id), CONSTRAINT sound_record_storage_type_check CHECK (((storage_type >= 0) AND (storage_type <= 1))));'
  init-song-db-schema: 'CREATE TABLE public.song_dao (id SERIAL NOT NULL, album varchar(255) NULL, artist varchar(255) NULL, length varchar(255) NULL, "name" varchar(255) NULL, resource_id varchar(255) NULL, "year" varchar(255) NULL, CONSTRAINT song_dao_pkey PRIMARY KEY (id));'
  init-storage-db-schema: 'CREATE TABLE public.storage_dao (id SERIAL NOT NULL, storage_type int2 NULL, bucket varchar(255) NULL, "path" varchar(255) NULL, CONSTRAINT storage_dao_pkey PRIMARY KEY (id), CONSTRAINT storage_dao_storage_type_check CHECK (((storage_type >= 0) AND (storage_type <= 1))));'
  script-storage-db-schema: INSERT INTO public.storage_dao (storage_type, bucket, "path") VALUES(0, 'staging-bucket', 'staging-files/'); INSERT INTO public.storage_dao (storage_type, bucket, "path") VALUES(1, 'permanent-bucket', 'permanent-files/');
---
apiVersion: v1
kind: Secret
metadata:
  name: app-secret-config-map
data:
  POSTGRES_USER: "cm9vdA=="
  POSTGRES_PASSWORD: "cGFzcw=="



  