apiVersion: v1
kind: ConfigMap
metadata:
  name: config-map-song-service-properties
data:
  application.properties: |
    server.port=8081
    spring.datasource.url=jdbc:postgresql://song-database:5432/songs
    spring.datasource.username=${POSTGRES_USER}
    spring.datasource.password=${POSTGRES_PASSWORD}
    spring.jpa.hibernate.ddl-auto=none
    spring.jpa.show-sql=false
    management.endpoint.health.probes.enabled=true
