apiVersion: v1
kind: ConfigMap
metadata:
  name: config-map-config-server-properties
data:
  application.properties: |
    spring.application.name=config-server
    server.port=8099
    management.endpoint.health.probes.enabled=true
    spring.cloud.config.server.git.uri=https://github.com/BladeSv/microservice-educ-config-server.git
    spring.cloud.config.server.git.skip-ssl-validation=true
    spring.cloud.config.server.git.clone-on-start=true
