apiVersion: v1
kind: Service
metadata:
  name: localstack
spec:
  selector:
    app: localstack
  ports:
    - protocol: TCP
      port: 4566
      targetPort: 4566
  type: ClusterIP
---

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: localstack
spec:
  serviceName: "localstack"
  selector:
    matchLabels:
      app: localstack
  template:
    metadata:
      labels:
        app: localstack
    spec:
      containers:
        - name: localstack-container
          image: localstack/localstack
          ports:
            - containerPort: 4566
          volumeMounts:
            - mountPath: "/var/run/docker.sock"
              name: localstack-mount
            - mountPath: "var/lib/localstack"
              name: localstack-mount-data
          envFrom:
            - configMapRef:
                name: config-map-env-localstack
          imagePullPolicy: IfNotPresent
      restartPolicy: Always
      volumes:
        - name: localstack-mount
          emptyDir: {}
        - name: localstack-mount-data
          emptyDir: {}




