apiVersion: v1
kind: Service
metadata:
  name: resource-processor
spec:
  selector:
    app: resource-processor
  ports:
    - protocol: TCP
      port: 8082
      targetPort: 8082
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: resource-processor
  labels:
    app: resource-processor
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: resource-processor
  template:
    metadata:
      name: resource-processor
      labels:
        app: resource-processor
    spec:
      containers:
        - name: resource-processor-container
          image: resource-processor-image:latest
          livenessProbe:
            httpGet:
              port: 8082
              path: /actuator/health/liveness
            initialDelaySeconds: 30
            periodSeconds: 3
            failureThreshold: 5
          readinessProbe:
            httpGet:
              port: 8082
              path: /actuator/health/readiness
            initialDelaySeconds: 30
            periodSeconds: 3
            failureThreshold: 5
          lifecycle:
            preStop:
              exec:
                command: [ "sh", "-c", "sleep 10" ]
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret-config-map
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret-config-map
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - mountPath: /workspace/BOOT-INF/classes/application.properties
              name: processor-app-properties
              subPath: application.properties
          ports:
            - containerPort: 8082
          imagePullPolicy: Never
      restartPolicy: Always
      volumes:
        - name: processor-app-properties
          configMap:
            name: config-map-resource-processor-properties
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1

      