{{ if not .Values.profile.local }}
apiVersion: v1
kind: Service
metadata:
  name: song-service
spec:
  selector:
    app: song-service
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: song-service
  labels:
    app: song-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: song-service
  template:
    metadata:
      name: song-service
      labels:
        app: song-service
    spec:
      containers:
        - name: song-service
          image: song-service-image:latest
          livenessProbe:
            httpGet:
              port: 8081
              path: /actuator/health/liveness
            initialDelaySeconds: 10
            periodSeconds: 3
          readinessProbe:
              httpGet:
                port: 8081
                path: /actuator/health/readiness
              initialDelaySeconds: 20
              periodSeconds: 3
          lifecycle:
            preStop:
              exec:
                command: [ "sh", "-c", "sleep 10" ]
          ports:
            - containerPort: 8081
          env:
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: app-secret-config-map
                  key: POSTGRES_USER
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: app-secret-config-map
                  key: POSTGRES_PASSWORD
          volumeMounts:
            - mountPath: /workspace/BOOT-INF/classes/application.properties
              name: song-app-properties
              subPath: application.properties
          imagePullPolicy: Never
      restartPolicy: Always
      volumes:
        - name: song-app-properties
          configMap:
            name: config-map-song-service-properties
{{ end }}