<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Storages</h1>
<table>
    <tbody>
    <tr th:each="storage: ${storages}">
        <td th:text="${storage}" />
    </tr>
    </tbody>


    <form action="#" th:action="@{/storages}" th:object="${student}" method="post">
        <table border="1">
            <tr>
                <td><label />studentId</td>
                <td><input type="number" th:field="*{id}" /></td>
            </tr>
            <tr>
                <td><label />StrudentName</td>
                <td><input type="text" th:field="*{name}" /></td>
            </tr>
            <tr>
                <td><input type="submit" value="Submit" /></td>
            </tr>
        </table>
    </form>
</table>
</body>
</html>